<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="OngoingAPI Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">Api</directory>
            <directory suffix=".php">Model</directory>
            <file>Configuration.php</file>
            <file>ApiException.php</file>
            <file>HeaderSelector.php</file>
            <file>ObjectSerializer.php</file>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
            <directory>examples</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage"/>
            <clover outputFile="coverage.xml"/>
        </report>
    </coverage>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="ONGOING_API_HOST" value="https://api.ongoingsystems.se/test"/>
        <env name="ONGOING_API_USERNAME" value="test"/>
        <env name="ONGOING_API_PASSWORD" value="test"/>
        <env name="ONGOING_API_GOODS_OWNER_ID" value="123"/>
    </php>
</phpunit> 